@import 'font_proxima_nova';
$fontBold: 'proxima_nova_rgbold', sans-serif;
$fontRegular: 'proxima_nova_rgregular', sans-serif;

$blue1: #18ACC4;
$blue2: #007A8D;
$yellow1: #FDCB13;
$yellow2: #DE9E1F;
$green: #0FA866;
$textBlack: #1F2D30;
$backgroundGray: #FBFBFB;
$backgroundWhite: #ffffff;
$modalBackground: #1F2D30e0;
$modalOpacity: 88%;

$grayBorder: 3px solid #eeefef;

$baseSpace: 16px;
$maxWidth:900px;