@mixin baseBox{
    margin: 11px 0px;
    background-color: $backgroundWhite;
    box-shadow: 0px 2px 5px 1px #e0e0e0;
    border-style: none;
    padding: $baseSpace;
    transition: box-shadow 0.3s;
    div{
        text-align: center;
        justify-content: center;
        
    }
}

@mixin baseButton{
    button{
        background-color:#fff;
        border-style: solid;
        border-color: $blue2;
        border-width: 2px 2px 2px 2px;
        margin:0px;
        color:$blue2;
        font-family: $fontBold;
        padding: $baseSpace;
        font-size:16px;
        transition: color 0.3s, background-color 0.3s;
        border-radius: 5px;
        flex-grow: 2;
        &:hover{
            cursor: pointer;
            background-color: $blue2;
            color: $backgroundWhite;
        }
    }
    
}

@mixin H2{
    h2{
        display: flex;
        margin:0px;
        font-size:16px;
        font-family: $fontBold;
        color:$blue2;
        vertical-align: center;
    }
}