.modal{
    position: relative;
    opacity: 100%;
    display:flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    div{
        display:flex;
    }
    h1{
        font-size:23px;
        margin:0px;
    }
    @include H2;
    h2{
        svg{
            margin-left:10px;
            padding-top: 2px;
            font-size:15px;    
        }
    }
    h5{
        margin:5px 0px;
    }
    h6{
        font-size: 16px;
        font-family: $fontBold;
        margin:0px;
    }
    label{
        margin:10px 0px;
    }
    p{
        margin: 5px 0px;
        font-family: $fontRegular;
    }
    span{
        font-size:16px;
    }
    form{
        margin: 10px 0px;
        display: flex;
        flex-flow: column;
        position: relative;
        .formField{
            padding-right: $baseSpace ;
            flex-grow:1;
            border: 1px solid #d0d0d0;
            border-radius: 5px;
        }
        select{ 
            padding: $baseSpace;
            flex-grow:1;
            border:0px;
            font-family: $fontRegular;
            font-size:16px;
            &:focus-visible{
                outline: 0px;  
            }   
        }
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 4px;
            background: $blue2;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
            margin-top:$baseSpace;
          }
          
          .slider:hover {
            opacity: 1;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 24px;
            height: 24px;
            border-radius:13px;
            background: $backgroundWhite;
            border: 2px solid $blue2;
            cursor: pointer;
          }
          
          .slider::-moz-range-thumb {
            width: 24px;
            height: 24px;
            border-radius:13px;
            background: $backgroundWhite;
            border: 2px solid $blue1;
            cursor: pointer;
          }
    }
    .orderLabel{
        div{
            flex-grow: 1;
            &:last-child{
                justify-content: flex-end;
            }
        }
    }

    .offerList{
        display: flex;
        flex-flow: column;
        article:last-child {
            border-bottom: $grayBorder;
        }
    }
    .closeIcon{
        color: $backgroundWhite;
        justify-content: flex-end;
        font-size: 20px;
        cursor: pointer;
        max-width:$maxWidth;
        width: 100%;
        .content{
            flex-flow: row;
            justify-content: flex-end;
        }
    }
    .modalBox{
        background-color: $backgroundWhite;
        max-width:$maxWidth;        
        width:100%;
    }
    .content{
        margin:20px;
        display: flex;
        flex-flow: column;
        width: 100%;
    }
}


.inactive{
    display:none
}

#modalOverlay{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-color: $modalBackground;
    z-index: 3;
    display: flex;
}